<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>캠프모아 여행 친구 찾기</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>

    <link rel="stylesheet" th:href="@{/accompany/css/read.css}">
    <script defer th:src="@{/accompany/js/read.js}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/qna/js/jquery-3.6.3.min.js}"></script>

</head>

<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>

<main class="_main main">
    <img alt="" class="cover-image" id="coverImage">
    <div class="content-container">
        <div class="content">
            <h1 class="title" id="title"></h1>
            <div class="spec-container">
                <span class="row">
                    <span class="caption">지역</span>
                    <span class="value region" id="region"></span>
                    <span class="caption">모집인원</span>
                    <span class="value capacity" id="capacity"></span>
                </span>
                <span class="row">
                    <span class="value date-from" id="dateFrom"></span>
                    <span class="dash">~</span>
                    <span class="value date-to" id="dateTo"></span>
                </span>
            </div>
            <div class="content" id="content"></div>
            <div class="created-at" id="createdAt"></div>
        </div>
        <aside class="aside">
            <div class="user-container">
                <span class="thumbnail"></span>
                <span class="name" id="name">닉네임 자리</span>
            </div>
            <button class="t-button request" id="requestButton"
                    th:if="${session.memberUser != null}" th:data-signed="${session.memberUser != null}">동행 신청하기</button>
            <button class="t-button retract" id="retractButton">동행 신청 취소하기</button>
            <!--/*@thymesVar id="article" type="com.example.campmoa.entities.acconpany.AccArticleEntity"*/-->

            <button
                    class="t-button modify" id="modifyButton">수정하기</button>
            <button class="t-button delete" id="deleteButton">삭제하기</button>
        </aside>
    </div>


    <!--    댓글 시작 부분-->
    <div>
        <form>
            <input type="hidden" id="commentWriter" th:value="${session.memberUser.getEmail()}">
            <!--/*@thymesVar id="article" type="com.example.campmoa.entities.bbs.CommentEntity"*/-->
            <input type="hidden" name="BNum" id="commentBNum" th:value="${article.getIndex()}">
            <table class="table">
                <tr style="display:flex;justify-content: left">
                    <td style="width:700px">
                            <textarea id="comment" name="comment" rows="5" class="form-control"
                                      placeholder="댓글을 입력해주세요"></textarea>
                    </td>
                    <td class="d-flex" style="width:120px;">
                        <button type="button" id="commentBtn" name="commentBtn"
                                class="btn btn-primary align-self-center" style="height: 90px">댓글달기
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <th:block th:each="comm:${Pcomment}">
        <div>
            <div style="display: flex">
                <th:block th:if="${comm.getCommentLevel()>0}">
                    <div style="width:100px; height:80px"></div>
                </th:block>
                <th:block th:if="${comm.getCommentLevel()>1}">
                    <div style="width:170px; height:80px"></div>
                </th:block>
                <table class="table">
                    <tr style="width:100px">
                        <td th:text="${comm.getUserEmail()}">이름</td>
                    </tr>
                    <tr style="width:100px">
                        <td th:text="${#dates.format(comm.getWrittenOn(), 'yyyy-MM-dd')}">작성일</td>
                    </tr>
                    <tr style="width: 600px">
                        <td th:text="${comm.getContent()}">내용</td>
                    </tr>
                </table>
                <div style="min-width:200px">
                    <a class="replyBtn">답글 |</a>
                    <a th:href="@{/accompany/deleteComment(commentIndex=${comm.getCommentIndex()}, articleIndex=${article.getIndex()})}">삭제</a>
                </div>
            </div>
        </div>
        <form class="ReplyCommentForm" action="/qna/InsertReplyComment" method="get">
            <input type="hidden" name="commentIndex" th:value="${comm.getCommentIndex()}">
            <input type="hidden" name="userEmail" th:value="${session.memberUser.getEmail()}">
            <input id="page" type="hidden" name="articleIndex" th:value="${article.getIndex()}">
            <!--/*@thymesVar id="paging" type="com.example.campmoa.models.PagingModel"*/-->
<!--            <input type="hidden" th:id="page" th:name="page" th:value="${paging.requestPage}">-->
            <div class="replyForm">
                <table class="table">
                    <tr style="display:flex;justify-content: center">
                        <td style="width:500px">
                            <textarea name="content" rows="5" class="form-control replyTextarea"
                                      placeholder="댓글을 입력해주세요"></textarea>
                        </td>
                        <td class="d-flex" style="width:120px;">
                            <button id="sendComment" type="submit"
                                    class="btn btn-primary align-self-center replySendBtn" style="height: 90px">댓글달기
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </th:block>
</main>


<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>

</html>




