<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campmoa.mappers.IAccMapper">


    <!--    동행 페이지에 들어갔을떄 게시판 처럼 처음 보여지는 페이지.-->
    <select id="selectArticlesForSearch"
            resultType="com.example.campmoa.vos.accompany.AccArticleSearchVo">
                <![CDATA[
        SELECT `article`.`index`              AS `index`,
               `article`.`user_email`         AS `userEmail`,
               `article`.`created_at`         AS `createdAt`,
               `article`.`continent_value`    AS `continentValue`,
               `article`.`country_value`      AS `countryValue`,
               `article`.`region_value`       AS `regionValue`,
               `article`.`capacity`           AS `capacity`,
               `article`.`date_from`          AS `dateFrom`,
               `article`.`date_to`            AS `dateTo`,
               `article`.`title`              AS `title`,
               LEFT(`article`.`content`, 100) AS `content`,
               `user`.`name`                  AS `userName`
        FROM `campmoa_accompany`.`articles` AS `article`
                 LEFT JOIN `campmoa_member`.`users` AS `user` ON `article`.`user_email` = `user`.`email`
        WHERE `article`.`continent_value` = #{region.continentValue}
          AND `article`.`country_value` = #{region.countryValue}
          AND `article`.`region_value` LIKE IFNULL(#{region.value}, '%')
          AND IF(#{lastArticleIndex} < 0, -2, `article`.`index`) < #{lastArticleIndex}
        ORDER BY `article`.`index` DESC
        LIMIT 8
        ]]>
    </select>

    <select id="selectContinents"
            resultType="com.example.campmoa.entities.acconpany.ContinentEntity">
        SELECT `value` AS `value`,
               `text`  AS `text`
        FROM `campmoa_accompany`.`continents`
        ORDER BY `text`
    </select>

    <select id="selectCountries"
            resultType="com.example.campmoa.entities.acconpany.CountryEntity">
        SELECT `continent_value` AS `continentValue`,
               `value`           AS `value`,
               `text`            AS `text`
        FROM `campmoa_accompany`.`countries`
        ORDER BY `text`
    </select>

    <select id="selectRegions"
            resultType="com.example.campmoa.entities.acconpany.RegionEntity">
        SELECT `continent_value` AS `continentValue`,
               `country_value`   AS `countryValue`,
               `value`           AS `value`,
               `text`            AS `text`
        FROM `campmoa_accompany`.`regions`
        ORDER BY `text`
    </select>

    <select id="selectArticleByIndex"
            resultType="com.example.campmoa.entities.acconpany.AccArticleEntity">
        SELECT `index`            AS `index`,
               `user_email`       AS `userEmail`,
               `created_at`       AS `createdAt`,
               `continent_value`  AS `continentValue`,
               `country_value`    AS `countryValue`,
               `region_value`     AS `regionValue`,
               `capacity`         AS `capacity`,
               `date_from`        AS `dateFrom`,
               `date_to`          AS `dateTo`,
               `cover_image`      AS `coverImage`,
               `cover_image_mime` AS `coverImageMime`,
               `title`            AS `title`,
               `content`          AS `content`
        FROM `campmoa_accompany`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectImageByIndex"
            resultType="com.example.campmoa.entities.acconpany.ImageEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `created_at` AS `createdAt`,
               `name`       AS `name`,
               `mime`       AS `mime`,
               `data`       AS `data`
        FROM `campmoa_accompany`.`images`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectRequestByRequesterArticleIndex"
            resultType="com.example.campmoa.entities.acconpany.RequestEntity">
        SELECT `index`                AS `index`,
               `requester_user_email` AS `requesterUserEmail`,
               `requestee_user_email` AS `requesteeUserEmail`,
               `article_index`        AS `articleIndex`,
               `created_at`           AS `createdAt`,
               `granted_flag`         AS `isGranted`,
               `declined_flag`        AS `isDeclined`
        FROM `campmoa_accompany`.`requests`
        WHERE `requester_user_email` = #{requesterUserEmail}
          AND `article_index` = #{articleIndex}
        LIMIT 1
    </select>

    <!--    ==============================================    -->
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.example.campmoa.entities.acconpany.AccArticleEntity">
        INSERT INTO `campmoa_accompany`.`articles` (`user_email`,
                                                    `created_at`, `continent_value`, `country_value`,
                                                    `region_value`, `capacity`,
                                                    `date_from`,
                                                    `date_to`,
                                                    `cover_image`,
                                                    `cover_image_mime`, `title`,
                                                    `content`)
        VALUES (#{userEmail}, #{createdAt}, #{continentValue}, #{countryValue}, #{regionValue}, #{capacity},
                #{dateFrom}, #{dateTo}, #{coverImage}, #{coverImageMime}, #{title}, #{content})
    </insert>

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.example.campmoa.entities.acconpany.ImageEntity">
        INSERT INTO `campmoa_accompany`.`images` (`user_email`, `created_at`, `name`, `mime`, `data`)
        VALUES (#{userEmail}, #{createdAt}, #{name}, #{mime}, #{data})
    </insert>

    <insert id="insertRequest"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.example.campmoa.entities.acconpany.RequestEntity">
        INSERT INTO `campmoa_accompany`.`requests` (requester_user_email, requestee_user_email, article_index,
                                                    created_at, granted_flag, declined_flag)
        VALUES (#{requesterUserEmail}, #{requesteeUserEmail}, #{articleIndex}, #{createdAt}, #{isGranted},
                #{isDeclined})
    </insert>


    <update id="updateArticle"
            parameterType="com.example.campmoa.entities.acconpany.AccArticleEntity">
        UPDATE `campmoa_accompany`.`articles`
        SET `user_email`       = #{userEmail},
            `created_at`       = #{createdAt},
            `continent_value`  = #{continentValue},
            `country_value`    = #{countryValue},
            `region_value`     = #{regionValue},
            `capacity`         = #{capacity},
            `date_from`        = #{dateFrom},
            `date_to`          = #{dateTo},
            `cover_image`      = #{coverImage},
            `cover_image_mime` = #{coverImageMime},
            `title`            = #{title},
            `content`          = #{content}
        WHERE `index` = #{index}
        LIMIT 1
    </update>


    <delete id="deleteArticle">
        DELETE
        FROM `campmoa_accompany`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <select id="mainAccompanyPic"
            parameterType="com.example.campmoa.entities.acconpany.AccArticleEntity"
            resultType="com.example.campmoa.entities.acconpany.AccArticleEntity">
        select `index`            AS `index`,
               `user_email`       AS `userEmail`,
               `created_at`       AS `createdAt`,
               `continent_value`  AS `continentValue`,
               `country_value`    AS `countryValue`,
               `region_value`     AS `regionValue`,
               `capacity`         AS `capacity`,
               `date_from`        AS `dateFrom`,
               `date_to`          AS `dateTo`,
               `cover_image`      AS `coverImage`,
               `cover_image_mime` AS `coverImageMime`,
               `title`            AS `title`,
               `content`          AS `content`
        from `campmoa_accompany`.`articles`
    </select>

</mapper>