<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campmoa.mappers.IBbsMapper">

    <select id="selectBoardIdByText"
            resultType="com.example.campmoa.entities.bss.BoardEntity">
        SELECT `id`   AS `id`,
               `text` AS `text`
        FROM `campmoa-bbs`.`boards`
        ORDER BY `id`
    </select>

</mapper>