<!DOCTYPE html>
<html lang="en">
<head>
    <title>[CampMoA] 마이페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" th:href="@{/member/css/myPage.css}">

    <script src="https://kit.fontawesome.com/f5742d24cb.js" crossorigin="anonymous"></script>
    <script th:src="@{/member/js/myPage.js}" defer></script>
    <script defer th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<div class="container mt-3">
    <h1>마이페이지</h1>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home" style="color:green">회원정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1" style="color:green">내 게시글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu2" style="color:green">내 댓글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu3" style="color:green">예약확인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu4" style="color:green">탈퇴하기</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="container tab-pane active">
                <h1>회원정보</h1>
                <img th:src="@{/resources/images/elmo.jpeg}" class="rounded-circle" alt="Cinque Terre" id="yap">
                <input type="text" class="form-control-plaintext" placeholder="캠프모아에 오신것을 환영합니다." style="margin-bottom:30px">
                <input type="text" class="form-control" placeholder="이메일" th:value="${session.memberUser.getEmail()}" style="margin-bottom:30px" disabled>
                <input type="text" class="form-control" placeholder="이름" style="margin-bottom:30px" th:value="${session.memberUser.getName()}" disabled>
                <input type="text" class="form-control" placeholder="연락처" style="margin-bottom:30px" th:value="${session.memberUser.getContact()}" disabled>
            </div>
            <hr>









            <div class="container tab-pane active">
                <h1>비밀번호 변경</h1>
                <input type="text" class="form-control-plaintext" placeholder="비밀번호를 변경합니다." style="margin-bottom:30px">
                <div class="form-check form-switch" style="margin-bottom:30px">
                    <input class="form-check-input" type="checkbox" id="mySwitch" name="pwEdit" value="yes">
                    <label class="form-check-label" for="mySwitch">비밀번호 수정</label>
                </div>
                <div class="container tab-pane active" >
                    <form id="form">
                        <div class="oldPasswordCheck" id="oldPasswordCheck">
                            <input type="hidden" name="email" th:value="${session.memberUser.getEmail()}">

                            <input type="password" class="form-control" name="password" id="NewPw1" placeholder="현재 비밀번호" style="margin-bottom:30px" disabled>

                            <input type="button" name="oldPwCheckBtn"  id="oldPwCheckBtn" class=" btn btn-warning btn-sm pull-right" value="비밀번호 확인" onclick="checkPassword()">
                            </input>
                        </div>

                        <span class="warning" id="warning"></span>

                        <input type="text" class="form-control" id="NewPw2" placeholder="수정 할 비밀번호" style="margin-bottom:30px" disabled>
                        <input type="text" class="form-control" id="NewPw3" placeholder="수정 할 비밀번호 확인" style="margin-bottom:30px" disabled>
                        <button type="submit" class="btn btn-success btn-sm">비밀번호 변경</button>
                        <button type="reset" class="btn btn-warning btn-sm">다시쓰기</button>
                    </form>
                </div>
            </div>
            <hr>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h1>내 게시글</h1>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h1>내 댓글</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="container tab-pane fade"><br>
            <h1>예약확인</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu4" class="container tab-pane fade"><br>
            <h1>탈퇴하기</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>
