<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>캠프모아 - 읽기(read) 페이지 입니다..</title>
    <!--/*@thymesVar id="article" type="com.example.campmoa.vos.bbs.ArticleVo"*/-->
    <script th:if="${article == null}">
        alert('존재하지 않는 게시글 입니다.');
            window.history.back();
    </script>

    <link crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css"
          rel="stylesheet">
    <!--    fontawsome 스크립트 추가.-->
    <script src="https://kit.fontawesome.com/f5742d24cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" th:href="@{/qna/css/read.css}">
    <script defer th:src="@{/resources/js/common.js}"></script>
</head>
<!--/*@thymesVar id="article" type="com.example.campmoa.vos.bbs.ArticleVo"*/-->
<body class="_layout-hmf" th:if="${article != null}">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>

<main class="_main main">
<!--        <h1>qna 글 읽 기 페이지 입니다.</h1>-->
    <div class="content-container">
        <div class="content_box">
            <!--/*@thymesVar id="article" type="com.example.campmoa.vos.bbs.ArticleVo"*/-->
            <h1 class="title" id="title" th:text="${article.getTitle()}" >제목입니다.</h1>
            <div class="content" id="content" th:text="${article.getContent()}">내용입니다.</div>
            <div class="createdAt" id="createdAt" th:text="${#dates.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></div>
        </div>

        <aside class="aside">
            <div class="user-container">
                <span class="thumb"></span>
                <!--/*@thymesVar id="article" type="com.example.campmoa.vos.bbs.ArticleVo"*/-->
                <span class="name" id="name" th:text="${article.getName()}">기무주녁</span>
                <span ></span>
            </div>
            <button class="t-button like" id="likeButton"
                th:data-signed="${session.memberUser != null}"> 좋아요 </button>
            <button class="t-button retract" id="retractButton">좋아요 취소하기</button>
            <a class="t-button modify"  id="modifyButton"
            th:if="${session.memberUser.getEmail().equals(article.getUserEmail())}"
            th:href="@{/qna/modify (aid=${article.getIndex()})}">수정하기</a>
            <button class="t-button delete" id="deleteButton"
            th:if="${session.memberUser.getEmail().equals(article.getUserEmail())}">삭제하기</button>
        </aside>
    </div>

</main>

<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>