<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>캠프모아 회원가입 완료</title>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>

<main class="_main main">
    <h1>qna 글쓰기 페이지 입니다.</h1>
</main>

<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>